frozen_param.txt 
train_param.txt
checkpoints/
results/
*/__pycache__
custom_diffusers/pipelines/__pycache__/
custom_diffusers/schedulers/__pycache__/
checkpoints/
dataset/
eval/
examples/
LICENSE
our_results*/
inputs/
office_dude/
input*/
frames/
interim/
output/
backup.zip
visil/
projects/
attn_ctrl/
custom_diffusers/
__pycache__/
## ignore all pycache folders no matter where they are
**/__pycache__/
bucketed_keyframes/




